:root {
  --primary-color: #221d23;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-size: 62.5%;
}

body, button, input, textarea {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  -webkit-font-smoothing: antialiased;
}

body, button {
  font-weight: 500;
}

input, textarea {
  font-size: 1.2rem;
  font-weight: 500;
}
