.appFooter {
  color: #eee;
  background: #2d3047;

  > .container {
    max-width: 640px;
    padding: 32px 16px 16px;
    margin: 0 auto;
  }

  > .container > .copyright {
    display: block;
    font-size: 0.8rem;
    text-align: right;
  }
}
