.appFooter {
  margin-top: 32px;
  font-size: 0.8rem;
  color: #eee;
  background: #2d3047;

  a {
    color: #fff;
  }

  a:hover {
    text-decoration: none;
  }

  > .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    max-width: 800px;
    padding: 24px 16px;
    margin: 0 auto;
  }

  > .container > .note {
    width: 100%;
    margin-bottom: 8px;
    font-size: 0.7rem;
    font-weight: bold;
    color: rgba(#fff, 0.7);
  }

  > .container > .link {
    margin-right: 16px;
  }
}
